body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  main {
    flex: 1;
  }
  .footer-2 {
    border-top: 6px solid #25525e;
    background-color: #fca834;
    text-align: center;
    padding: 10px 0;
    color: white;
  }
  .footer-text {
    color: #0e737f;
    font-weight: bold;
  }
  .heading-stop {
    margin-top: 150px;
    margin-bottom: 50px;
    color: #0e737f;
    font-weight: bold;
  }
  table th {
    color: #0e737f !important;
  }
  table td {
    color: #fca834 !important;
  }
  .navBar-Bg {
    background-color: #25525e;
  }